
md-dialog.speech-to-text-modal.custom-modal.info-modal

  md-tabs(md-dynamic-height, md-center-tabs=true, md-selected='currentTab')

    md-tab(label='One')
      .img-container(style='height: {{maxImgHeight}}px;')
        img(ng-if='isAndroid' src='assets/images/android-speech-to-text.png')
        img(ng-if='isIOS' src='assets/images/ios-speech-to-text.jpeg')

      .button-container
        md-button(ng-click='hideModal($event)') Back

