<?xml version='1.0' encoding='utf-8'?>
<widget id="nz.co.acc.bbq" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ACC BBQ</name>
  <description>
      ACCs BBQ Feedback app
  </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
      Apache Cordova Team
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
      <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>

  <engine name="android" spec="~5.1.1" />
  <engine name="ios" spec="~4.1.1" />

  <icon src="client/assets/icons/xhdpi.png" />

  <platform name="android">
    <icon src="client/assets/icons/android/mdpi.png" density="mdpi" />
    <icon src="client/assets/icons/android/hdpi.png" density="hdpi" />
    <icon src="client/assets/icons/android/xhdpi.png" density="xhdpi" />
  </platform>

  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="client/assets/icons/apple/apple-icon-180x180.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="client/assets/icons/apple/apple-icon-60x60.png" width="60" height="60" />
    <icon src="client/assets/icons/apple/apple-icon-120x120.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="client/assets/icons/apple/apple-icon-76x76.png" width="76" height="76" />
    <icon src="client/assets/icons/apple/apple-icon-152x152.png" width="152" height="152" />
    <!-- iPhone / iPod Touch -->
    <icon src="client/assets/icons/apple/apple-icon-57x57.png" width="57" height="57" />
    <icon src="client/assets/icons/apple/apple-icon-114x114.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="client/assets/icons/apple/apple-icon-72x72.png" width="72" height="72" />
    <icon src="client/assets/icons/apple/apple-icon-144x144.png" width="144" height="144" />
  </platform>


</widget>

