


bbq-login {
  display: block;
  width: 100%;
  height: 100%;

  .title {
    background-color: @dark-grey;
    h1 {
      color: @button-grey;
    }
  }


  .second-token-sent {
    text-align: center;
  }
  .code-introduction {
    color: #005e9c;
    font-size: 1.2em;
    margin: 20px 0;
  }

  background-color: @button-grey;

  position: absolute;
  min-height: 100%;

}
