


bbq-login {
  display: block;
  width: 100%;
  height: 100%;

  .title {
    background-color: @dark-grey;
    h1 {
      color: @button-grey;
    }
  }


  .second-token-sent {
    text-align: center;
    display: block;
  }

  .code-introduction {
    display: block;
    color: #005e9c;
    font-size: 1.2em;
    margin: 20px 0;
    .first {
      margin: 0;
    }
    .second {
      margin-bottom: 0;
      word-break: break-all;
    }
    p {
      font-size: 1.2em;
    }
  }

  background-color: @button-grey;

  position: absolute;
  min-height: 100%;

}
