


.navbar-container-outer(ng-class='{"fade-in": fadeIn}')
  .navbar-container-inner

    //.beta DEMO

    .logo-container
      //include ../../assets/svg/logo.svg
      include ../../assets/svg/logo-round.svg


    .menu

      .logged-out-menu(ng-if='! isLoggedIn()')
        md-button.md-icon-button(aria-label='Open info', ng-if='! isInfo()' ng-click='info($event)', )
          info-svg
        md-button.md-icon-button(aria-label='Open info', ng-if='isInfo()' ng-click='login($event)', )
          login-svg

      md-menu(md-position-mode='target-right target', ng-if='isLoggedIn()')
        md-button.md-icon-button(aria-label='Open menu', ng-click='$mdOpenMenu($event)')
          menu-svg
        md-menu-content(width='3')
          md-menu-item
            md-button.menu-button(ng-click='reload()')
              refresh-svg
              | Reset
          md-menu-item(ng-if='showAdmin()')
            md-button.menu-button(ng-click='admin()')
              settings-svg
              | Admin
          md-menu-item(ng-if='! isInfoDebounce()')
            md-button.menu-button(ng-click='info($event)')
              info-svg
              | Info
          md-menu-item(ng-if='showMain()')
            md-button.menu-button(ng-click='main()')
              home-svg
              | Home
          md-menu-item
            md-button.menu-button(ng-click='logout()')
              logout-svg
              | Logout
