

label, input, textarea {
  font-size: 1.2em;
}


md-input-container {
  margin: 26px 0 18px;

  &:not(.md-input-invalid),
  &:not(.md-input-invalid).md-input-focused, {
    label {
      color: @deep-blue;
    }
    .md-input {
      border-color: @deep-blue;
    }
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


input {
  border-radius: 0;


  padding: 6px 0;
  border: none;
  border-bottom: 2px solid #333;

  background-color: transparent;

  &:focus {
    outline: none;
  }
}

textarea {
  width: 100%;
}


md-input-container {
  width: 100%;
}
