


.bbq-container {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}


form {

  padding: 20px;
  margin: 20px 0;
  background-color: #fff;


  input, button {
    margin: 6px 0;
    width: 100%;
  }

}


.title {

  background-color: @green-yellow;
  display: inline-block;
  width: 100%;

  > div {
    &:extend(.bbq-container);
  }

  h1 {
    margin: 20px;
    color: #fff;
  }
}


.container {


  min-width: 100%;
  .inner-container {

    &:extend(.bbq-container);

  }
}


.container.ng-enter,
.container.ng-leave
{
  position: absolute;
  transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.container.ng-enter,
.container.ng-leave.ng-leave-active {
  opacity: 0;
}

.container.ng-leave,
.container.ng-enter.ng-enter-active {
  opacity: 1;
}



