


bbq-feedback {
  display: block;
  width: 100%;
  height: 100%;

  .title {

  }

  position: absolute;
  min-height: 100%;

  background-color: @light-green-yellow;

  .feedback-success {
    text-align: center;
  }

}
