

.container
  .inner-container

    .title
      .title-container
        h1 Welcome to Solnet Leads


    form

      p This a tool to help you capture and pass on new work opportunities for Solnet

      md-button(ng-click='gotoMain($event)') Ok, got it!
