

.container
  .inner-container

    .title
      .title-container
        h1 INFO (Work in progress)

    form

      md-button How to add Fixit to your homescreen

      md-button How to use text to speech
