

.container
  .inner-container

    .title.small-title.grey-title
      .title-container
        h1 (Work in progress)

    form

      md-button What kind of leads should I send?

      md-button How do I add Leads to my homescreen?

      md-button How do I use speech to text?
